@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Hammersmith+One&family=Montserrat:wght@600&family=Quicksand:wght@500&family=Roboto:wght@100&display=swap');
body{
    background-color: antiquewhite;
    margin:0px;
    padding: 0px;
    width: 100%;
    height: 1000px;
    font-family: 'Quicksand', sans-serif
}
/* 
font-family: 'Hammersmith One', sans-serif;
font-family: 'Montserrat', sans-serif;
;
font-family: 'Roboto', sans-serif; */
.conteiner{
    width: 100%;
    display: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}
.title{
    font-size: 22px;
    display: flex;
    justify-content: center;
}
.btns{
    width: 100%;
    height: 130px;
   
}
.btn{
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
}
.tableCount{
    width: 40%;
    height:600px;
}
.myCanvas{
    height: 100px;
    width: 60%;
    display: flex;
    justify-content: center;
}
.content1{
    margin-top:130px;
    display: flex;
    justify-content: space-between;
}
.time{
    display: flex;
    
}
.mSizes{
    display: flex;
    justify-content: space-between;
    width: 100px;
    height:100px ;
    
}